/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 14vh 0 14vh 0;
}
.main h1 {
    margin: 0 0 6vh 0;
}
/* CONTACT FORM */
/* GRID */
#form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas: 
        "name name name name name name"
        "email email email phone phone phone"
        "textarea textarea textarea textarea textarea textarea"
        "textarea textarea textarea textarea textarea textarea"
        "submit submit submit submit submit submit"
    ;
}
#name-field {
    grid-area: name;
}
#email-field {
    grid-area: email;
}
#phone-field {
    grid-area: phone;
}
#text-field {
    grid-area: textarea;
}
#submit-button {
    grid-area: submit;
}
/* STYLES */
.form-field {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0;
}
.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #6C718B;
}
.input-field {
    background-color: #E4E6EF;
    border-style: none;
    padding: 20px;
    margin: 0.5em 0 0 0;
}
.input-field[placeholder] {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #6C718B;
}
.textarea-field {
    background-color: #E4E6EF;
    border-style: none;
    padding: 20px;
    margin: 0.5em 0 0 0;
}
.textarea-field[placeholder] {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #6C718B;
}
.submit-button {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: white;
    background-color: #072AC8;
    border-style: none;
    width: 100%;
    padding: 25px 0 25px 0;
    margin: 2vh 0 0 0;
    cursor: pointer;
}


/* MEDIA QUERIES */
@media only screen and (max-width:991px) and (min-width:768px) {
    .main {
        width: 90%;
    }
}
@media only screen and (max-width:767px) {
    .main {
        width: 90%;
    }
    #form {
        grid-template-areas: 
            "name name name name name name"
            "email email email email email email"
            "phone phone phone phone phone phone"
            "textarea textarea textarea textarea textarea textarea"
            "textarea textarea textarea textarea textarea textarea"
            "submit submit submit submit submit submit"
        ;
    }
}