* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.nav.branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #292E47;
}

@media(max-width:991px) {
    .navbar{
        display: block;
    }
    .hamburger{
        display: block;
        margin: 15px 0 0 0;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background-color: #292E47;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        background-color: #292E47;
    }
    .nav-menu {
        position: absolute;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: #c8c8c8;
        width: 100%;
        text-align: center;
        align-items: flex-start;
        transition: 0.3s;
    }

    .nav-item {
        margin: 20px 0;
    }

    .nav-menu.active {
        top: 70px;
    }
    .navbar.active {
        background-color: #c8c8c8;
    }
}