/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
/* Colors */
.grey {
    color: #6C718B;
}
.dark-grey {
    color: #292E47;
}
.yellow {
    color: #FFC600;
}
.light-blue {
    color: #ACD6F5;
}
.dark-blue {
    color: #072AC8;
}


/* Body */
body {
    background-color: #F1F4FB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Elements */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 9vh;
    color: #292E47;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: #292E47;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    color: #072AC8;
}
.cta-button {
    color: white;
    background-color: #072AC8;
    border-style: none;
}


/* Header */

header {
    margin: 70px 0 0 0;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #6C718B;
    margin: 0 2vw 0 2vw;
}
.main-nav a:nth-child(1) {
    color: #0082F3;
}
header nav a:hover {
    color:#072AC8;
}
#header-cta {
    padding: 2vh 4vh 2vh 4vh;
    font-size: 17px;
}
#header-cta:hover {
    color: white;
    background-color: #292E47;
}
/* Hero */
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: 14vh 0 0 0;
}
#hero-text-section {
    max-width: 50%;
}
#hero-text-section h1 {
    margin: 0 0 5vh 0;
    width: 500px;
}
#hero-text-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    max-width: 75%;
    line-height: 3.7vh;
    margin: 0 0 4vh 0;
}
#hero-text-section nav a:first-child {
    font-weight: 500;
}
#hero-text-section nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0 2vw 0 0;
}
#hero-cta {
    padding: 2vh 4vh 2vh 4vh;
}
#hero-cta:hover {
    color: white;
    background-color: #292E47;
}
#hero-img-section {
    background-image: url(assets/hero-section/hero-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 80vh;
    height: 80vh;
}
#hero-img-section img {
    width: 37vh;
}
#hero-img-1 {
    position: absolute;
    top: 0px;
    left: -50px;
}
#hero-img-2 {
    position: absolute;
    bottom: 0px;
    right: -50px;
}


/* Companies */
#companies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin: 15vh 0 15vh 0;
}
/* Recent Projects */
#recent-projects-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 0 10vh 0;
}

#recent-project-section h2 {
    margin: 0 0 3vh 0;
}
#project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 55vh;
    margin: 5vh 0 0 0;
}
.project-item {
    background-color: white;
    margin: 0 0 3vh 0;
    width: 31%;
}
.project-item h3 {
    margin: 2vh 0 2vh 3vh;
}
.project-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0 0 4vh 3vh;
}
.project-item a {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3vh;
}
#recent-projects-section div div img {
    max-width: 100%;
    min-height: 30vh;
}
/* Testimonials */
#testimonials-section {
    background-color: #292E47;
    background-image: url(assets/testimonial-section/orbit.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 79%;
    height: 70vh;
    margin: 0 0 15vh 0;
}
.memojis {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memojis img {
    width: 35%;
}
/* MEMOJIS PLACEMENT */
#memoji-one {
    margin: 0 0 5vh 15vh;
}
#memoji-two {
    margin: 5vh 0 0 15vh;
}
#memoji-three {
    margin: 0 15vh 5vh 0;
}
#memoji-four {
    margin: 5vh 15vh 0 0;
}
#testimonials-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70%;
    width: 50%;
    justify-content: space-between;
}
#testimonials-main h2 {
    color: white;
    width: 700px;
}
#testimonials-main h5 {
    width: 700px;
}
#testimonial-profile {
    display: flex;
    flex-direction: row;
}
#testimonial-profile img {
    width: 4vw;
    border-radius: 5vh;
}
#testimonial-profile-info p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
#testimonial-profile-info p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
}
/* Our Services */
#services-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}
#services-section h2 {
    margin: 0 0 7vh 0;
}
#service-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20vh 0;
}
.service-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 31%;
    height: 45vh;
}
.service-item h3 {
    margin: 3vh 0 0 3vh;
}
.service-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 3vh 0 0 3vh;
    width: 80%;
}
.service-item a {
    font-weight: 500;
    margin: 4vh 0 0 3vh;
}
.service-icon {
    width: 2.4vw;
    height: 2.4vw;
    background-color: #ECF7FF;
    border-radius: 50%;
    padding: 20px;
    margin: 4vh 0 0 4vh;
}
/* CTA */
#cta-section {
    background-color: #FFC600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50vh;
    margin: 0 0 15vh 0;
}
#cta-section h2 {
    margin: 13vh 0 0 0;
}
#cta-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0 0 5vh 0;
}
#cta-form {
    display: flex;
    flex-direction: row;
    margin: 0 0 10vh 0;
}
#cta-form button {
    padding: 0 5vh 0 5vh;
    font-size: 17px;
    margin: 0 0 0 3vh;
}
#cta-form button:hover {
    color: white;
    background-color: #292E47;
}
#cta-form-input {
    background-color: #F1F4FB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5vh 5vh;
    width: 300px;
}
#cta-form-input img {
    margin: 0 1vh 0 0;
}
#cta-form-input input[placeholder] {
    color:black;
    font-size: 18px;
    background-color: #F1F4FB;
    border-style: none;
}
/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 0 8vh 0;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-logo img {
    height: 30px;
    margin: 0 0 3vh 0;
}
.footer-logo p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 70%;
}
.footer-main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 5vh 0 5vh;
}
.footer-nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}





/* Media Queries */
/* DESKTOP */
@media only screen and (min-width: 1200px) {
    #burger-menu-img {
        display: none;
    }
    #hero-tablet-phone {
        display: none;
    }
    #companies-phone {
        display: none;
    }
}
/* SMALL DESKTOP */
@media only screen and (max-width:1199px) and (min-width:992px) { 
    #burger-menu-img {
        display: none;
    }
    /* HERO */
    .hero {
        width: 95%;
    }
    #hero-tablet-phone {
        display: none;
    }
    /* COMPANIES */
    #companies-phone {
        display: none;
    }
    /* PROJECTS */
    #recent-projects-section {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 0 8vh 0;
    }
    /* SERVICES */
    #services-section {
        width: 90%;
    }
    /* CTA */
    #cta-section {
        width: 100%;
    }
    footer {
        width: 90%;
    }
}
/* TABLET */
@media only screen and (max-width:991px) and (min-width:768px) { 
    /* HEADER */
    header {
        margin: 2vh 0 4vh 0;
        width: 95%;
    }
    .main-nav {
        display: none;
    }
    #header-cta {
        display: none;
    }
    /* HERO */
	.hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 0 0 0;
    }
    #hero-desktop {
        display: none;
    }
    #hero-text-section {
        max-width: 80%;
        text-align: center;
    }
    #hero-text-section h1 {
        margin: 0 0 0 0;
    }
    #hero-text-section p {
        max-width: 100%;
        line-height: 3.7vh;
        margin: 0 0 7vh 0;
        text-align: center;
    }
    #hero-text-section nav a {
        margin: 0 0 0 0;
    }
    #hero-text-section nav a:first-child {
        margin: 0 3vh 0 0;
    }
    #hero-cta {
        padding: 2vh 4vh 2vh 4vh;
    }
    #hero-img-section {
        margin: 5vh 0 0 0;
    }
    /* COMPANIES */
    #companies {
        display: none;
    }
    #companies-phone {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10vh 0 10vh 0;
    }
    .companies-col {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }
    #amazon-logo {
        display: none;
    }

    /* PROJECTS */
    #recent-projects-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 0 8vh 0;
    }
    #project-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        margin: 5vh 0 0 0;
    }
    .project-item {
        width: 400px;
        margin: 3vh 4vh 0 0;
        flex-wrap: wrap;
    }
    /* TESTIMONIALS */
    #testimonials-section {
        width: 100%;
    }
     /* SERVICES */
     #services-section {
        width: 90%;
    }
    /* CTA */
    #cta-section {
        width: 100%;
    }
    footer {
        width: 90%;
    }
}
/* PHONE */
@media only screen and (max-width: 767px) and (min-width: 480px) {
    /* HEADER */
    header {
        margin: 2vh 0 4vh 0;
        width: 95%;
    }
    header nav {
        display: none;
    }
    #header-cta {
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 0 0 0;
    }
    #hero-desktop {
        display: none;
    }
    #hero-text-section {
        max-width: 80%;
        text-align: center;
    }
    #hero-text-section h1 {
        margin: 0 0 0 0;
        font-size: 40px;
    }
    #hero-text-section p {
        max-width: 100%;
        line-height: 3.7vh;
        margin: 0 0 7vh 0;
        text-align: center;
        font-size: 17px;
    }
    #hero-text-section nav a {
        margin: 0 0 0 0;
    }
    #hero-text-section nav a:first-child {
        margin: 0 3vh 0 0;
    }
    #hero-cta {
        padding: 2vh 4vh 2vh 4vh;
    }
    #hero-img-section {
        margin: 5vh 0 0 0;
    }
    #hero-img-1 {
        display: none;
    }
    #hero-img-2 {
        display: none;
    }
    /* COMPANIES */
    #companies {
        display: none;
    }
    #companies-phone {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10vh 0 10vh 0;
    }
    .companies-col {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }
    #amazon-logo {
        display: none;
    }
    /* PROJECTS */
    #recent-projects-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 8vh 0;
        align-items: center;
    }
    #project-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        margin: 5vh 0 0 0;
    }
    .project-item {
        width: 90%;
    }
    /* TESTIMONIALS */
    #testimonials-section {
        width: 100%;
    }
    .memojis {
        display: none;
    }
     /* SERVICES */
     #services-section {
        width: 90%;
    }
    #service-items {
        flex-direction: column;
        margin: 0 0 20vh 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .service-item {
        width: 100%;
        height: 40vh;
        margin: 4vh 0 0 0;
    }
    .service-icon {
        padding: 10px 30px 30px 10px;
        margin: 4vh 0 0 4vh;
    }
    /* CTA */
    #cta-section {
        width: 100%;
    }
    #cta-form {
        flex-direction: column;
    }
    #cta-form button {
        padding: 4vh 5vh 4vh 5vh;
        font-size: 17px;
        margin: 2vh 0 0 0;
    }
    #cta-form-input {
        background-color: #F1F4FB;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.5vh 5vh;
        width: 300px;
    }
    #cta-form-input img {
        margin: 0 1vh 0 0;
    }
    #cta-form-input input[placeholder] {
        color:black;
        font-size: 18px;
        background-color: #F1F4FB;
        border-style: none;
    }
    /* FOOTER */
    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 0 8vh 0;
    }
    .footer-logo {
        align-items: center;
        text-align: center;
        margin: 0 0 2vh 0;
    }
    .footer-nav {
        align-items: center;
        gap: 20px
    }
}
/* SMALL PHONE */
@media only screen and (max-width: 479px) {
    /* HEADER */
    header {
        margin: 2vh 0 4vh 0;
        width: 95%;
    }
    header nav {
        display: none;
    }
    #header-cta {
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 0 0 0;
    }
    #hero-desktop {
        display: none;
    }
    #hero-text-section {
        max-width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero-text-section h1 {
        margin: 0 0 0 0;
        font-size: 30px;
    }
    #hero-text-section p {
        max-width: 100%;
        line-height: 3.7vh;
        margin: 0 0 7vh 0;
        text-align: center;
        font-size: 17px;
    }
    #hero-tablet-phone {
        display: flex;
        flex-direction: column;
    }
    #hero-tablet-phone a:last-child{
        font-weight: 700;
    }
    #hero-text-section nav a {
        margin: 0 0 0 0;
    }
    #hero-text-section nav a:first-child {
        margin: 0 0 2vh 0;
    }
    #hero-cta {
        padding: 2vh 4vh 2vh 4vh;
    }
    #hero-img-section {
        margin: 5vh 0 0 0;
    }
    #hero-img-1 {
        display: none;
    }
    #hero-img-2 {
        display: none;
    }
    /* COMPANIES */
    #companies {
        display: none;
    }
    #companies-phone {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10vh 0 10vh 0;
    }
    .companies-col {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }
    #amazon-logo {
        display: none;
    }
    /* PROJECTS */
    #recent-projects-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 8vh 0;
        align-items: center;
    }
    #project-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        margin: 5vh 0 0 0;
    }
    .project-item {
        width: 90%;
    }
    /* TESTIMONIALS */
    #testimonials-section {
        width: 100%;
    }
    .memojis {
        display: none;
    }
    #testimonials-main h2 {
        width: 300px;
        font-size: 30px;
    }
    #testimonials-main h5 {
        width: 300px;
    }
    #testimonial-profile {
        display: flex;
        flex-direction: row;
    }
    #testimonial-profile img {
        width: 40px;
        height: 40px;
        border-radius: 5vh;
    }
     /* SERVICES */
     #services-section {
        width: 90%;
    }
    #service-items {
        flex-direction: column;
        margin: 0 0 20vh 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .service-item {
        width: 100%;
        height: 40vh;
        margin: 4vh 0 0 0;
    }
    .service-icon {
        padding: 10px 30px 30px 10px;
        margin: 4vh 0 0 4vh;
    }
    /* CTA */
    #cta-section {
        width: 100%;
    }
    #cta-section h2 {
        text-align: center;
        font-size: 30px;
    }
    #cta-form {
        flex-direction: column;
    }
    #cta-form button {
        padding: 4vh 5vh 4vh 5vh;
        font-size: 17px;
        margin: 2vh 0 0 0;
    }
    #cta-form-input {
        background-color: #F1F4FB;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.5vh 5vh;
        width: 300px;
    }
    #cta-form-input img {
        margin: 0 1vh 0 0;
    }
    #cta-form-input input[placeholder] {
        color:black;
        font-size: 18px;
        background-color: #F1F4FB;
        border-style: none;
    }
    /* FOOTER */
    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 0 8vh 0;
    }
    .footer-logo {
        align-items: center;
        text-align: center;
        margin: 0 0 2vh 0;
    }
    .footer-nav {
        align-items: center;
        gap: 20px
    }
}